# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

.lvimrc
.sconsign.dblite
tests/build/
test_runner
statsite
deb/statsite
*.deb
.vagrant
*.pyc
depcomp
compile

integ/.cache
config.log
.sconsign.dblite
.libs
.deps
.deps/*
src/.deps
/src/.deps

# http://www.gnu.org/software/automake

/Makefile

# http://www.gnu.org/software/autoconf

autom4te.cache
autoscan.log
autoscan-*.log
compile
configure.scan
config.status
depcomp
install-sh
missing
stamp-h1

autom4te.cache

.dirstamp
/dist/
/config.*

#OSX
.DS_Store

/libtool

Makefile.in
/Makefile
man/Makefile
Makefile
libtool
aclocal.m4
ac_config
configure

src/buildconfig.h
src/buildconfig.h.in


deps/check-0.10.0/build-aux/
deps/check-0.10.0/config.h.in
deps/check-0.10.0/config.h.in~
deps/check-0.10.0/check.pc
deps/check-0.10.0/check_stdint.h
deps/check-0.10.0/checkmk/checkmk
deps/check-0.10.0/config.h
deps/check-0.10.0/src/check.h
deps/check-0.10.0/tests/test_vars

gmon.out
src/buildconfig.h.in~
test-suite.log
tests/runner
tests/runner.log
tests/runner.trs
