# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

deps/check-0.9.8/tests/.deps
deps/check-0.9.8/tests/.libs
.lvimrc
.sconsign.dblite
tests/build/
test_runner
statsite
deb/statsite
*.deb
.vagrant
*.pyc
depcomp
compile

integ/.cache
config.log

.deps
.deps/*
src/.deps
/src/.deps

# http://www.gnu.org/software/automake

/Makefile

# http://www.gnu.org/software/autoconf

autom4te.cache
autoscan.log
autoscan-*.log
compile
configure.scan
config.status
depcomp
install-sh
missing
stamp-h1

ac_config
autom4te.cache

.dirstamp

#OSX
.DS_Store

autom4te.cache/requests
config.guess
config.sub
config.log

Makefile.in
/Makefile
man/Makefile
Makefile
libtool
aclocal.m4
ac_config
m4
configure
