# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

deps/check-0.9.8/tests/.deps
deps/check-0.9.8/tests/.libs
.lvimrc
.sconsign.dblite
tests/build/
test_runner
statsite
deb/statsite
*.deb
.vagrant
*.pyc
depcomp
compile

integ/.cache
config.log
.sconsign.dblite
.libs
.deps
.deps/*
src/.deps
/src/.deps

# http://www.gnu.org/software/automake

/Makefile

# http://www.gnu.org/software/autoconf

autom4te.cache
autoscan.log
autoscan-*.log
compile
configure.scan
config.status
depcomp
install-sh
missing
stamp-h1

autom4te.cache

.dirstamp
/dist/
/config.*

#OSX
.DS_Store

/libtool

Makefile.in
/Makefile
man/Makefile
Makefile
libtool
aclocal.m4
ac_config
/m4
configure


# Some stuff that apparently doesn't get tracked by wildcards
deps/check-0.9.8/config.h
deps/check-0.9.8/config.h.in
deps/check-0.9.8/config.h.in~
deps/check-0.9.8/config.status
deps/check-0.9.8/configure
deps/check-0.9.8/doc/check.info
deps/check-0.9.8/doc/stamp-vti
deps/check-0.9.8/doc/version.texi
deps/check-0.9.8/doc/check_money.1-2.c.diff
deps/check-0.9.8/doc/check_money.2-3.c.diff
deps/check-0.9.8/doc/check_money.3-6.c.diff
deps/check-0.9.8/doc/check_money.6-7.c.diff
deps/check-0.9.8/doc/money.1-2.h.diff
deps/check-0.9.8/doc/money.1-3.c.diff
deps/check-0.9.8/doc/money.3-4.c.diff
deps/check-0.9.8/doc/money.4-5.c.diff
deps/check-0.9.8/doc/money.5-6.c.diff
deps/check-0.9.8/src/exported.sym
deps/check-0.9.8/tests/check_check
deps/check-0.9.8/tests/check_check_export
deps/check-0.9.8/tests/check_stress
deps/check-0.9.8/tests/check_thread_stress
deps/check-0.9.8/tests/ex_log_output
deps/check-0.9.8/tests/ex_output
deps/check-0.9.8/tests/ex_xml_output


src/buildconfig.h
src/buildconfig.h.in


deps/check-0.10.0/build-aux/
deps/check-0.10.0/config.h.in
deps/check-0.10.0/config.h.in~
deps/check-0.10.0/check.pc
deps/check-0.10.0/check_stdint.h
deps/check-0.10.0/checkmk/checkmk
deps/check-0.10.0/config.h
deps/check-0.10.0/src/check.h
deps/check-0.10.0/tests/test_vars
