[Unit]
Description=statsite stats aggregator

[Service]
Type=forking
PIDFile=/var/run/statsite/statsite.pid
ExecStart=/usr/sbin/statsite -f /etc/statsite/statsite.conf
Restart=on-failure
User=statsite

[Install]
WantedBy=multi-user.target
